.ft-lf {
  width: 604.71px;
  height: 59px;
  padding: 8px;
}

.ft-img {
  width: 205.71px;
  height: 40px;
}

.ft-vt {
  width: 144px;
  height: 43px;
}

.ft-rg {
  width: 449px;
  height: 48px;
}

.ft-btn {
  width: 179px;
  height: 48px;
  padding: 12px 24px 12px 24px;
  border-radius: 8px;
  background-color: $btn-col;
  border: none;
}

.ft-bt {
  width: 370px;
  height: 192px;
}

.tx-h {
  height: 24px;
}

.ft-col {
  width: 370px;
  height: 144px;
}

.sub-ft{
height: 200px;
padding: 0px 0px 48px 0px;
}

.sub-tx{
font-family: $gotham;
font-size: 12px;
font-weight: 500;
line-height: 16px;
text-align: left;
height: 16px;
color: $tertiary;
}

.sub-icn{
  font-size: 16px;
  margin-left: 28px;
}

.icn-stl{
color: $secondary;
}


.tx-gr{
font-family: $gotham;
font-size: 14px;
font-weight: 700;
line-height: 16px;
text-align: left;
width: 176px;
color: $gr;
}

