@font-face {
    font-family: 'Gotham';
    src: url('./../../assets/fonts/Gotham-Bold.ttf');
}


$primary:rgba(255, 255, 255, 1);
$secondary:rgba(21, 81, 229, 1);
$tertiary:rgba(130, 142, 173, 1);
$gr:rgba(143, 155, 179, 1);
$btn-col:rgba(242, 246, 255, 1);
$btn-ter:rgba(242, 245, 249, 1);
$text-pr:rgba(7, 20, 53, 1);
$iconprimary:rgba(0,0,0,.45);
$line-primary:rgba(226, 228, 240, 1);
$rd:rgba(255, 61, 113, 1);
$pad-primary:7px 20px;
$pad-secondary:3px 10px;
$gotham:"Gotham",san-serif